@charset "UTF-8";

/* pc용 스타일 시작 */
@media all and (min-width:1132px) { /* 반응형-태블릿용 스타일 끝 */
/* 슬라이드 영역 시작 */	
.carousel-item, .carousel-item img{height: 700px;}
/* 슬라이드 영역 끝 */

/* we are 영역 시작 */
.weare-header {
	margin: 0 3%;
	margin-top: 30px;
	text-align: left;
}
.weare-header .section-title {
	float: left;
	width: 50%;
}
.weare-header p {
	float: right;
	width: 50%;
	position: relative;
	padding-left: 20px;
}
.weare-header p::before { /* p태그 앞에 가상요소로 짝대기 하나 만듦 */
 	position: absolute;
 	top: 7px;
 	left: 0px;
 	width: 2px; /* 짝대기 가로 크기 */
	height: 40px; /* 짝대기 세로 크기 */
 	background: #ccc;
 	content:""; /* 짝대기만 만들고, 내용은 비공간으로 처리; */
}
/* we are 영역 끝 */

/* work 영역 시작 */
.work-section .section-title {
	text-align: left;	
	margin-left: 3%;
}
.work-section li {
	width: 25%;
}
/* work 영역 끝 */

/* blog 영역 시작 */
.blog-section {
	margin-left: 3%;
	margin-right: 3%;
}
.blog-section h1 {
	float: left;
	margin-top: 30px;
}
.blog-section .container {
	float: right;
	width: 80%;
}
/* blog 영역 끝 */

/* contact 영역 시작 */
.contact-section {
	margin-left: 3%;
	margin-right: 3%;
}
.contact-section h1 {
	float: left;
	margin-top: 30px;
}
.contact-section .container {
	float: right;
	width: 75%;
}
.contact-section form input {
	height: 60px;
}
.contact-section form textarea {
	min-height: 180px;
}
/* contact 영역 끝 */

}
/* pc용 스타일 끝 */


